<style scoped lang="stylus">
.mb-10 {
  margin-bottom: 10px;
}

.card {
  padding: 20px;
  padding-bottom: 0px;
  width: 100%;
  max-width: 500px;

  &:last-child {
    padding-bottom: 20px;
  }
}

.card__content {
  color: #c9cdd3;
  background-color: #5f6670;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  flex: 1;
}

.name {
  font-weight: 600;
}

.rarity {
  font-size: 14px;
}

img {
  width: 100%;
  max-width: 150px;
}

.title {
  font-weight: 600;
  color: #c9cdd3;
  font-size: 18px;
  padding: 0 5px;
}

.description {
  font-size: 14px;
  color: #c9cdd3;
}

.description--quote {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #c9cdd3;
}

.label {
  background: #c9cdd3;
  color: #5d6168;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.stats {
  font-size: 14px;
  width: 100%;

  .stats--label {
    background: #c9cdd3;
    color: #5d6168;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .stats--value {
    background: #f1f5fb;
    color: #5d6168;
    // border: 1px solid #c9cdd3;
    border: 1px solid #f1f5fb;
    padding: 5px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.table {
  font-size: 14px;
  width: 100%;

  p {
    margin: 0px;
  }

  .table--header {
    text-align: center;
    flex: 1;
    background: #c9cdd3;
    color: #5d6168;
    padding: 5px;
    text-align: center;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  .table--col {
    text-align: center;
    flex: 1;
    background: #f1f5fb;
    color: #5d6168;
    padding: 5px;
    text-align: center;
  }
}

.info {
  font-size: 14px;
  color: #c9cdd3;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;

  &:last-child {
    border-bottom: none;
  }
}
</style>

<template>
  <q-page class="flex column items-center">
    <div class="column col-12 card">
      <div class="column items-center justify-between card__content">
        <div class="column items-center mb-10">
          <span class="name">{{all.profile.name}}</span>
          <span class="rarity">{{all.profile.rarity}}</span>
        </div>
        <div class="portrait">
          <img :src="all.profile.portrait">
        </div>
        <div class="column items-center mb-10">
          <span class="description">{{all.profile.description}}</span>
        </div>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <p class="title">Stats</p>
        <div class="row justify-between stats mb-10">
          <span class="stats--label col-6">Movement</span>
          <span class="stats--value col-6">{{all.stats.movement}}</span>
        </div>
        <div class="column table">
          <div v-for="(row, index) in all.stats.health" :key="index" class="row table--row">
            <div v-for="(col, colIn) in row" :key="colIn" :class="tableClass(index,colIn)">{{col}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <div class="row items-center">
          <p class="title">Attack</p>
          <p class="label">{{all.attack.name}}</p>
        </div>
        <p class="description--quote">{{all.attack.effect}}</p>
        <p class="description">{{all.attack.description}}</p>
        <div class="column stats">
          <div
            class="row justify-between stats mb-10"
            v-for="(stats, index) in all.attack.stats"
            :key="index"
          >
            <span class="stats--label col-6">{{stats[0]}}</span>
            <span class="stats--value col-6">{{stats[1]}}</span>
          </div>
        </div>
        <div class="column table">
          <div v-for="(row, index) in all.attack.damage" :key="index" class="row table--row">
            <div v-for="(col, colIn) in row" :key="colIn" :class="tableClass(index,colIn)">{{col}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <div class="row items-center">
          <p class="title">Super</p>
          <p class="label">{{all.super.name}}</p>
        </div>
        <p class="description--quote">{{all.super.effect}}</p>
        <p class="description">{{all.super.description}}</p>
        <div class="column stats">
          <div
            class="row justify-between stats mb-10"
            v-for="(stats, index) in all.super.stats"
            :key="index"
          >
            <span class="stats--label col-6">{{stats[0]}}</span>
            <span class="stats--value col-6">{{stats[1]}}</span>
          </div>
        </div>
        <div class="column table">
          <div v-for="(row, index) in all.super.damage" :key="index" class="row table--row">
            <div v-for="(col, colIn) in row" :key="colIn" :class="tableClass(index,colIn)">{{col}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <div class="row items-center">
          <p class="title">Star Power</p>
          <p class="label">{{all.star.name}}</p>
        </div>
        <p class="description--quote">{{all.star.effect}}</p>
        <p class="description">{{all.star.description}}</p>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <p class="title">Tips</p>
        <div class="column">
          <div
            class="row justify-between info"
            v-for="(items, index) in all.tips.items"
            :key="index"
          >{{items[0]}}</div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "Guide",
  components: {},
  created: function() {
    this.getAll();
  },
  data: function() {
    return {
      all: {
        profile: {},
        stats: {},
        attack: {},
        super: {},
        star: {},
        tips: {}
      }
    };
  },
  methods: {
    tableClass: function(row, col) {
      if (row === 0) {
        return "table--header";
      }
      return "table--col";
    },
    getAll: function(id) {
      let self = this;
      let slug = this.$route.params.slug;
      axios
        .get(process.env.API + "/brawlstars/brawlers/get/" + slug)
        .then(res => {
          self.all = res.data;
        });
    }
  }
};
</script>
