<style scoped lang="stylus">
.mb-10 {
  margin-bottom: 10px;
}

.card {
  padding: 20px;
  padding-bottom: 0px;
  width: 100%;
  max-width: 500px;

  &:last-child {
    padding-bottom: 20px;
  }
}

.card__content {
  color: #c9cdd3;
  background-color: #5f6670;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  flex: 1;
}

.name {
  font-weight: 600;
}

.rarity {
  font-size: 14px;
}

img {
  width: 100%;
  max-width: 150px;
}

.title {
  font-weight: 600;
  color: #c9cdd3;
  font-size: 18px;
  padding: 0 5px;
}

.description {
  font-size: 14px;
  color: #c9cdd3;
}

.description--quote {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: #c9cdd3;
}

.label {
  background: #c9cdd3;
  color: #5d6168;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.stats {
  font-size: 14px;
  width: 100%;

  .stats--label {
    background: #c9cdd3;
    color: #5d6168;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .stats--value {
    background: #f1f5fb;
    color: #5d6168;
    // border: 1px solid #c9cdd3;
    border: 1px solid #f1f5fb;
    padding: 5px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.table {
  font-size: 14px;
  width: 100%;

  p {
    margin: 0px;
  }

  .table--header {
    text-align: center;
    flex: 1;
    background: #c9cdd3;
    color: #5d6168;
    padding: 5px;
    text-align: center;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  .table--col {
    text-align: center;
    flex: 1;
    background: #f1f5fb;
    color: #5d6168;
    padding: 5px;
    text-align: center;
  }
}

.info {
  font-size: 14px;
  color: #c9cdd3;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;

  &:last-child {
    border-bottom: none;
  }
}
</style>

<template>
  <q-page class="flex column items-center">
    <div class="column col-12 card">
      <div class="column items-center justify-between card__content">
        <div class="column items-center mb-10">
          <span class="name">{{all.profile.name}}</span>
        </div>
        <div class="portrait">
          <img :src="all.profile.avatar">
        </div>
        <div class="column items-center mb-10">
          <span class="description--quote mb-10 text-center">{{all.profile.objective}}</span>
          <span class="description">{{all.profile.description}}</span>
        </div>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <p class="title">Useful Brawlers</p>
        <div class="column">
          <div
            class="row justify-between info"
            v-for="(items, index) in all.guide.brawlers"
            :key="index"
          >{{items[0]}}</div>
        </div>
      </div>
    </div>

    <div class="column col-12 card">
      <div class="column items-center card__content">
        <p class="title">Tips</p>
        <div class="column">
          <div
            class="row justify-between info"
            v-for="(items, index) in all.tips.items"
            :key="index"
          >{{items[0]}}</div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "Guide",
  components: {},
  created: function() {
    this.getAll();
  },
  data: function() {
    return {
      all: {
        profile: {},
        guide: {},
        tips: {}
      }
    };
  },
  methods: {
    getAll: function(id) {
      let self = this;
      let slug = this.$route.params.slug;
      axios
        .get(process.env.API + "/brawlstars/events/get/" + slug)
        .then(res => {
          self.all = res.data;
        });
    }
  }
};
</script>
