<style scoped lang="stylus">
.mb-10 {
  margin-bottom: 10px;
}

.card {
  padding: 10px;
}

.card__content {
  color: #c9cdd3;
  background-color: #5f6670;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  width: 140px;
}

.name {
  font-weight: 600;
}

.rarity {
  font-size: 14px;
}

img {
  padding: 10px;
  padding-top: 0px;
  width: auto;
  height: 100%;   
  max-height: 100px;
}

.filter {
  margin-top: 20px;
  padding: 5px;

  .btn {
    background-color: #5f6670;
    margin-right: 2px;
    color: #c9cdd3;
  }
}

.label {
  padding: 9px 10px 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
}
</style>

<template>
  <q-page class="flex flex-center">
    <div class="row content-start justify-center">
      <div v-for="(events, index) in all" :key="index" class="column card">
        <div
          @click="$router.push('/event/'+events.slug)"
          class="column items-center justify-between card__content"
        >
          <div class="column items-center mb-10">
            <span class="name">{{events.profile.name}}</span>
          </div>
          <div class="portrait">
            <img :src="events.profile.avatar">
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "Guide",
  components: {},
  created: function() {
    this.getAll();
  },
  data: function() {
    return {
      all: []
    };
  },
  methods: {
    getAll: function(id) {
      let self = this;
      axios.get(process.env.API + "/brawlstars/events/all/").then(res => {
        self.all = res.data;
      });
    }
  }
};
</script>
