<style scoped lang="stylus">
p {
  color: #c9cdd3;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-10 {
  padding: 0 10px !important;
}

.width-100 {
  width: 100%;
}

.card {
  padding: 10px;
}

.card__content {
  color: #c9cdd3;
  background-color: #5f6670;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  width: 140px;
}

.name {
  font-weight: 600;
}

.rarity {
  font-size: 14px;
}

img {
  padding: 10px;
  padding-top: 0px;
  width: auto;
  height: 100%;
  max-height: 120px;
}

.filter {
  margin-top: 20px;
  padding: 5px;

  .btn {
    background-color: #5f6670;
    margin-right: 2px;
    margin-bottom: 2px;
    color: #c9cdd3;
  }
}

.label {
  padding: 9px 10px 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.search {
  background-color: #5f6670;
  border: none;
  color: #c9cdd3;
  padding: 0 10px;
  border-radius: 5px;
  height: 40px;
  flex: 1;
  font-size: 16px;
  box-shadow: 0 2px 5px 0 #222;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #c9cdd3;
  }
}

.search__cancel {
  cursor: pointer;
  font-size: 16px;
  background-color: #222;
  color: #c9cdd3;
  padding: 10px 15px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 2px 5px 0 #222;
}

.tab {
  cursor: pointer;

  .tab__options {
    font-size: 12px;
    background-color: #5f6670;
    color: #c9cdd3;
    padding: 10px 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 #222;
    transition-duration: 0.4s;

    // transition: 500ms linear;
    &:active {
      background-color: #848d9b;
      transition: 0s;
    }
  }

  .tab__options--active {
    background-color: #c9cdd3;
    color: #5f6670;
  }

  .tab__label {
    cursor: default;
    font-size: 12px;
    background-color: #222;
    color: #c9cdd3;
    padding: 10px 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 #222;
  }
}
</style>

<template>
  <q-page class="column items-center">
    <!-- Filter -->
    <div class="row justify-center width-100 p-10 mb-10 mt-20">
      <input class="search" placeholder="Search..." v-model="filter.search">
      <span class="search__cancel" v-if="filter.search.length !== 0" @click="clearSearch">
        <q-icon name="cancel"/>
      </span>
    </div>

    <div class="tab row justify-center mb-10">
      <span class="tab__label">Rarity</span>
      <span :class="filterClass('rarity', 'Common')" @click="filterData('rarity','Common')">Common</span>
      <span :class="filterClass('rarity', 'Rare')" @click="filterData('rarity','Rare')">Rare</span>
      <span
        :class="filterClass('rarity', 'Super Rare')"
        @click="filterData('rarity','Super Rare')"
      >Super Rare</span>
      <span :class="filterClass('rarity', 'Epic')" @click="filterData('rarity','Epic')">Epic</span>
      <span :class="filterClass('rarity', 'Mythic')" @click="filterData('rarity','Mythic')">Mythic</span>
      <span
        :class="filterClass('rarity', 'Legendary')"
        @click="filterData('rarity','Legendary')"
      >Legendary</span>
    </div>

    <div class="tab row justify-center mb-10">
      <span class="tab__label">Sort</span>
      <span class="tab__options" @click="filterData('sort','rarity')">Rarity</span>
      <span class="tab__options" @click="filterData('sort','atoz')">A to Z</span>
    </div>

    <!-- Content -->
    <div class="row content-start justify-center">
      <div v-for="(brawlers, index) in allData" :key="index" class="column card">
        <div
          @click="$router.push('/brawler/'+brawlers.slug)"
          class="column items-center justify-between card__content"
        >
          <div class="column items-center mb-10">
            <span class="name">{{brawlers.profile.name}}</span>
            <span class="rarity">{{brawlers.profile.rarity}}</span>
          </div>
          <div class="portrait">
            <img :src="brawlers.profile.portrait">
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "Guide",
  components: {},
  created: function() {
    this.getAll();
  },
  data: function() {
    return {
      all: [],
      filter: {
        rarity: "",
        sort: "",
        search: ""
      }
    };
  },
  computed: {
    allData: function() {
      let data = this.all;
      let filter = this.filter;
      if (filter.sort !== "") {
        if (filter.sort === "atoz") {
          data = data.sort((a, b) => {
            if (a.profile.name < b.profile.name) {
              return -1;
            }
            if (a.profile.name > b.profile.name) {
              return 1;
            }
            return 0;
          });
        }
        if (filter.sort === "rarity") {
          data = data.sort((a, b) => {
            if (a.profile.rarity < b.profile.rarity) {
              return -1;
            }
            if (a.profile.rarity > b.profile.rarity) {
              return 1;
            }
            return 0;
          });
        }
      }

      if (filter.rarity !== "") {
        data = data.filter(
          x => x.profile.rarity.toLowerCase() === filter.rarity.toLowerCase()
        );
      }

      if (filter.search !== "") {
        data = data.filter(x =>
          x.profile.name.toLowerCase().includes(filter.search.toLowerCase())
        );
      }

      return data;
    }
  },
  methods: {
    clearSearch: function() {
      this.filter.search = "";
    },
    filterClass: function(type, val) {
      let check = this.filter[type] === val ? true : false;
      if (check) {
        return "tab__options tab__options--active";
      }
      return "tab__options";
    },
    filterData: function(type, spec) {
      let check = this.filter[type] === spec ? true : false;
      if (check) {
        this.filter[type] = "";
        return;
      }
      this.filter[type] = spec;
    },
    getAll: function(id) {
      let self = this;
      axios.get(process.env.API + "/brawlstars/brawlers/all/").then(res => {
        self.all = res.data;
        console.log(self.all);
      });
    }
  }
};
</script>
