<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-card-title>Game {{allData.game.name}} - Add Category</q-card-title>
      <q-card-main>
        <q-input v-model="category.name" stack-label="Name" class="q-my-form"/>
        <q-input v-model="category.description" stack-label="Description" class="q-my-form"/>
        <q-input v-model="category.thumbnail" stack-label="Thumbnail" class="q-my-form"/>
        <q-input v-model="category.layout" stack-label="Layout" class="q-my-form"/>
        <q-btn @click="submitData('category')" class="q-my-form">Submit</q-btn>
      </q-card-main>
    </q-card>

    <div>
      <q-card v-for="(item,index) in allData.category" :key="index" class="q-my-form">
        <q-card-title>
          <div class="row justify-between">
            {{item.name}}
            <span @click="deleteCategory(item._id)">Delete</span>
          </div>
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          <p @click="goToView(index)">Set Template</p>
          <p @click="goToModel(index)">Add Data</p>
          <p @click="goToModelRead(index)">View Data</p>
        </q-card-main>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "PageName",
  created: function() {
    this.getCategories();
    this.getGame();
    this.category.game = this.$route.params.game;
  },
  data: function() {
    return {
      category: {
        name: "",
        game: "",
        description: "",
        thumbnail: "",
        layout: ""
      },
      allData: {
        category: [],
        game: {}
      }
    };
  },
  computed: {},
  methods: {
    goToView(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push(
        "/admin/game/" + category.game + "/view/" + category._id
      );
    },
    goToModel(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push(
        "/admin/game/" + category.game + "/model/" + category._id
      );
    },
    goToModelRead(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push(
        "/admin/game/" + category.game + "/data/" + category._id
      );
    },
    getCategories: function() {
      let self = this;
      let id = this.$route.params.game;
      axios.get(process.env.API + "/category/all/" + id).then(res => {
        self.allData.category = res.data;
      });
    },
    deleteCategory: function(id) {
      let data = {
        id: id
      };
      axios.post(process.env.API + "/category/delete", data).then(res => {
        console.log("deleted");
        this.getCategories();
      });
    },
    getGame: function() {
      let self = this;
      let id = this.$route.params.game;
      axios.get(process.env.API + "/game/" + id).then(res => {
        console.log(res.data);
        self.allData.game = res.data[0];
      });
    },
    submitData: function(collection) {
      let self = this;
      axios
        .post(process.env.API + "/" + collection, self[collection])
        .then(res => {
          this.getCategories();
        });
    }
  }
};
</script>

<style>
.p-10 {
  padding: 10px;
}
</style>
