<template>
  <q-page padding>
    <!-- content -->
    <q-card v-for="(data, index) in models" :key="index" class="q-my-form">
      <q-card-title>
        <div class="row justify-between">
          <span>#{{index+1}} {{data.category}}</span>
          <div>
            <span @click="editModel(data._id)" class="p-10">Edit</span>
            <span @click="deleteModel(data._id)" class="p-10">Delete</span>
          </div>
        </div>
      </q-card-title>
      <q-card-separator/>
      <q-card-main>
        <div v-for="(section, sectionIn) in data.sections" :key="sectionIn">
          <p>
            <b>{{section.name}}</b>
          </p>
          <div v-for="(content, contentIn) in section.content" :key="contentIn">
            <p v-if="content.type !== 'list'">{{content.label}} {{content.type}}: {{content.value}}</p>
            <div v-if="content.type === 'list'">
              <div
                v-for="(value, valueIn) in content.value"
                :key="sectionIn+' '+contentIn+' '+valueIn"
                class="column q-my-form"
              >
                <b>List #{{valueIn+1}}</b>
                <div
                  v-for="(element, elementIn) in value"
                  :key="elementIn"
                  :float-label="element.label"                  
                >{{element.label}}: {{element.value}}</div>
              </div>
            </div>
          </div>
        </div>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

import definitions from "../../definitions/definitions";

export default {
  name: "ModelRead",
  created: function() {
    let self = this;

    this.getCategory();
    this.initiateModel();
  },
  data: function() {
    return {
      select: { name: "", type: "" },
      templates: definitions.section,
      category: {},
      view: {},
      models: []
    };
  },
  methods: {
    editModel: function(edit) {
      this.$router.push(
        "/admin/game/" +
          this.$route.params.game +
          "/model/" +
          this.$route.params.id +
          "/edit/" +
          edit
      );
    },
    deleteModel: function(id) {
      let data = {
        id: id
      };
      axios.post(process.env.API + "/model/delete", data).then(res => {
        this.initiateModel();
      });
    },
    getCategory: function() {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/category/" + id).then(res => {
        self.category = res.data.filter(x => x._id === id)[0];
      });
    },
    getView: function(callback) {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/view/" + id).then(res => {
        self.view = res.data.filter(x => x.parentId === id)[0];
        callback();
      });
    },
    getModel: function(callback) {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/model/" + id).then(res => {
        self.models = res.data;
        callback();
      });
    },
    initiateModel: function() {
      let self = this;
      this.getView(() => {
        console.log("view", self.view);
        this.getModel(() => {
          console.log("models", self.models);
          this.models.map((model, i) => {
            console.log("model", model);
            model.sections = model.sections
              .map((x, i) => {
                //Determine sections order
                let section = self.view.sections.filter(s => {
                  return s.uniqid === x.uniqid;
                })[0];
                if (section === undefined) {
                  return {
                    ...x
                  };
                }

                //Determine content order and content visibility
                let content = x.content
                  .map(s => {
                    let element = section.content.filter(t => {
                      return t.uniqid === s.uniqid;
                    })[0];
                    return {
                      ...s,
                      order: element !== undefined ? element.order : false,
                      show: element !== undefined ? true : false
                    };
                  })
                  .filter(s => s.show === true)
                  .sort((a, b) => a.order - b.order);

                return {
                  ...x,
                  content: content,
                  order: section.order
                };
              })
              .sort((a, b) => a.order - b.order);
          });
        });
      });
    }
  }
};
</script>

<style>
.p-10 {
  padding: 10px;
}
</style>
