<template>
  <q-page padding>
    <!-- content -->
    <q-card>
      <q-card-title>Add Game</q-card-title>
      <q-card-main>
        <q-input v-model="game.name" stack-label="Name" class="q-my-form"/>
        <q-input v-model="game.description" stack-label="Description" class="q-my-form"/>
        <q-input v-model="game.thumbnail" stack-label="Thumbnail" class="q-my-form"/>
        <q-input v-model="game.layout" stack-label="Layout" class="q-my-form"/>
        <q-btn @click="submitData('game')" class="q-my-form">Submit</q-btn>
      </q-card-main>
    </q-card>

    <div>
      <q-card v-for="(item,index) in allData.game" :key="index" class="q-my-form">
        <q-card-title>
          <div class="row justify-between">
            {{item.name}}
            <span @click="deleteGame(item._id)">Delete</span>
          </div>
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          <p @click="goToCategory(index)">Set Category</p>
        </q-card-main>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "Game",
  created: function() {
    this.getGames();
  },
  data: function() {
    return {
      game: {
        name: "",
        description: "",
        thumbnail: "",
        layout: ""
      },
      allData: {
        game: []
      }
    };
  },
  computed: {},
  methods: {
    deleteGame: function(id) {
      let data = {
        id: id
      };
      axios.post(process.env.API + "/game/delete", data).then(res => {
        console.log("deleted");
        this.getGames();
      });
    },
    goToCategory(index) {
      let game = this.allData.game[index];
      console.log(game);
      this.$router.push("/admin/game/" + game._id);
    },
    getGames: function() {
      let self = this;
      axios.get(process.env.API + "/game").then(res => {
        console.log("data", res.data);
        self.allData.game = res.data;
      });
    },
    submitData: function(collection) {
      let self = this;
      axios
        .post(process.env.API + "/" + collection, self[collection])
        .then(res => {
          this.getGames();
        });
    }
  }
};
</script>

<style>
</style>
