<template>
  <q-page padding>
    <!-- content -->
    <q-card v-for="(section, sectionIn) in model.sections" :key="sectionIn" class="q-my-form">
      <q-card-title>{{section.name}}</q-card-title>
      <q-card-separator/>
      <q-card-main>
        <div v-for="(content, contentIn) in section.content" :key="contentIn">
          <q-input
            v-model="content.value"
            :float-label="content.label+' '+content.type"
            v-if="content.type !== 'list'"
          />
          <div v-if="content.type === 'list'">
            <q-input
              v-for="(schema, schemaIn) in content.schema"
              v-model="schema.value"
              :key="schemaIn"
              :float-label="schema.label"
            />
            <q-btn @click="addList(sectionIn, contentIn)">Add to List ({{content.value.length}})</q-btn>
            <div
              v-for="(value, valueIn) in content.value"
              :key="sectionIn+' '+contentIn+' '+valueIn"
              class="column q-my-form"
            >
              <b>List #{{valueIn+1}}</b>
              <q-input
                v-for="(element, elementIn) in value"
                v-model="element.value"
                :key="elementIn"
                :float-label="element.label"
              />
              <span class="p-5 small-btn" @click="deleteList(sectionIn, contentIn, valueIn)">Delete</span>
            </div>
          </div>
        </div>
      </q-card-main>
    </q-card>

    <q-btn @click="save">Save</q-btn>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

import definitions from "../../definitions/definitions";

export default {
  name: "SectionModel",
  created: function() {
    this.getCategory();
    this.getView();
    let edit = this.$route.params.edit;
    if (edit) {
      this.getModel();
    }
  },
  data: function() {
    return {
      select: { name: "", type: "" },
      category: {},
      templates: definitions.section,
      view: {
        category: "",
        parentId: "",
        sections: []
      },
      model: {}
    };
  },
  methods: {
    addList: function(section, content) {
      let data = this.model.sections[section].content[content];
      data.value = data.value.concat([_.cloneDeep(data.schema)]);
      data.schema = data.schema.map(x => {
        return {
          ...x,
          value: ""
        }
      })
    },
    deleteList: function(section, content, value) {      
      let data = this.model.sections[section].content[content].value;
      this.model.sections[section].content[content].value = data.filter((x, i) => i !== value);      
    },
    getModel: function() {
      let self = this;
      let id = this.$route.params.edit;
      axios.get(process.env.API + "/model/single/" + id).then(res => {
        // self.model = res.data[0];
        let data = res.data[0];
        self.model._id = data._id;
        //Don't override empty section
        self.model.sections = self.model.sections.map(x => {
          let index = data.sections.findIndex(s => s.uniqid === x.uniqid);
          if (index >= 0) {
            let section = data.sections[index];
            //Hide deleted content
            let content = x.content.map(s => {
              //Check deleted element
              let element = section.content.filter(t => {
                return t.uniqid === s.uniqid;
              })[0];
              //Don't ovverride empty element
              if (element === undefined) {
                return s;
              }
              return {
                ...element,
                label: s.label
              };
            });
            return {
              ...section,
              content: content
            };
          }
          return x;
        });
      });
    },
    getCategory: function() {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/category/" + id).then(res => {
        self.category = res.data.filter(x => x._id === id)[0];
      });
    },
    getView: function() {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/view/" + id).then(res => {
        self.view = res.data.filter(x => x.parentId === id)[0];
        self.view.sections = self.view.sections.map(x => {
          return {
            ...x,
            content: x.content.map(s => {
              return {
                ...s,
                value: s.type === "list" ? [] : ""
              };
            })
          };
        });
        self.model = {
          category: self.view.category,
          parentId: self.view.parentId,
          sections: _.cloneDeep(self.view.sections)
        };
      });
    },
    save: function() {
      axios.post(process.env.API + "/model", this.model).then(res => {
        let edit = this.$route.params.edit;
        if (!edit) {
          this.getView();
        }
      });
    }
  }
};
</script>

<style>
.small-btn {
  border: 1px solid #d1d1d1;
  padding: 2px;
  border-radius: 2px;
  background: #f1f1f1;
  color: #999;
  margin: 0 5px;
}
</style>
