<template>
  <q-page padding class="row">
    <div class="column col-8">
      <q-card>
        <q-card-title>Edit Template - {{category.name}}</q-card-title>
        <q-card-main>
          <p>Add Section</p>
          <q-input v-model="select.name" float-label="Section Name"/>
          <q-select v-model="select.type" float-label="Section Template" :options="templates"/>
          <q-btn @click="addSection">Add</q-btn>
          <q-btn @click="save">Save</q-btn>
        </q-card-main>
      </q-card>

      <div v-for="(section,sectionIndex) in view.sections" :key="sectionIndex" class="q-my-form">
        <q-card>
          <q-card-title>
            <div class="row justify-between">
              {{section.name}} - {{section.type}}
              <div class="row">
                <span class="p-5 small-btn" @click="move('up',sectionIndex)">Move Up</span>
                <span class="p-5 small-btn" @click="move('down',sectionIndex)">Move Down</span>
                <span class="p-5 small-btn" @click="editSection(sectionIndex)">Edit</span>
                <span class="p-5 small-btn" @click="deleteSection(sectionIndex)">Delete</span>
              </div>
            </div>
          </q-card-title>
          <q-card-main>
            <div class="Column">
              <p>Content:</p>
              <p v-for="(content, contentIndex) in section.content" :key="contentIndex">
                Label: {{content.label}} {{content.showLabel}}
                Type: {{content.type}}
                <span
                  class="small-btn"
                  @click="editList(sectionIndex, contentIndex)"
                  v-if="content.type === 'list'"
                >See Child</span>
                <span class="small-btn" @click="editContent(sectionIndex, contentIndex)">Edit</span>
                <span
                  class="small-btn"
                  @click="moveContent('up',sectionIndex, contentIndex)"
                >Move Up</span>
                <span
                  class="small-btn"
                  @click="moveContent('down',sectionIndex, contentIndex)"
                >Move Down</span>
                <span class="small-btn" @click="deleteContent(sectionIndex, contentIndex)">Delete</span>
              </p>
              <div class="row" v-if="section.type !== 'list'">
                <span class="p-5">Add Content:</span>
                <span
                  v-for="(accept, acceptIndex) in section.accept"
                  :key="acceptIndex"
                  class="p-5 small-btn"
                  @click="addContent(sectionIndex, accept)"
                >{{accept}}</span>
              </div>
            </div>
          </q-card-main>
        </q-card>
      </div>
    </div>
    <div class="column col-4 p-10">
      <p>Preview</p>
      <div v-for="(item,index) in view.sections" :key="preview+index">
        <name v-if="item.type === 'name'" mode="preview" :content="item.content"/>
        <portrait v-if="item.type === 'portrait'" mode="preview" :content="item.content"/>
        <description v-if="item.type === 'description'" mode="preview" :content="item.content"/>
        <stats v-if="item.type === 'stats'" mode="preview" :content="item.content"/>
        <statsTable v-if="item.type === 'table'" mode="preview" :content="item.content"/>
        <listSlideshow v-if="item.type === 'list'" mode="preview" :content="item.content"/>
      </div>
    </div>

    <q-modal v-model="edit.content.opened">
      <q-card>
        <q-card-title>Edit Content</q-card-title>
        <q-card-main>
          <q-input v-model="edit.content.label" float-label="Label"/>
          <q-checkbox v-model="edit.content.showLabel" label="Show Label"/>
          <q-input v-model="edit.content.value" float-label="Demo Value"/>
          <p class="q-my-form">Type: {{edit.content.type}}</p>
          <q-btn color="primary" @click="saveContent()" label="Save" class="q-my-form"/>
        </q-card-main>
      </q-card>
    </q-modal>

    <q-modal v-model="edit.section.opened">
      <q-card>
        <q-card-title>Edit Section</q-card-title>
        <q-card-main>
          <q-input v-model="edit.section.name" float-label="Name"/>
          <q-btn color="primary" @click="saveSection()" label="Save" class="q-my-form"/>
        </q-card-main>
      </q-card>
    </q-modal>

    <q-modal v-model="edit.list.opened">
      <q-card>
        <q-card-title>Edit Section</q-card-title>
        <q-card-main>
          <!-- <q-select
            v-model="edit.list.select"
            float-label="Section Template"
            :options="templatesList"
          />-->
          <div
            v-for="(schema, schemaIndex) in edit.list.schema"
            :key="schemaIndex"
          >{{schema.label}} {{schema.type}}</div>
          <q-btn @click="edit.list.opened = false">Close</q-btn>
          <!-- <q-btn @click="addListSchema">Add</q-btn> -->
          <!-- <q-btn color="primary" @click="saveSection()" label="Save" class="q-my-form"/> -->
        </q-card-main>
      </q-card>
    </q-modal>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";
import uniqid from "uniqid";

import definitions from "../../definitions/definitions";

import description from "../../components/description";
import name from "../../components/name";
import portrait from "../../components/portrait";
import stats from "../../components/stats";
import statsTable from "../../components/statsTable";
import listSlideshow from "../../components/listSlideshow";

Array.prototype.move = function(from, to) {
  this.splice(to, 0, this.splice(from, 1)[0]);
};

export default {
  name: "SectionView",
  components: {
    description,
    name,
    portrait,
    stats,
    statsTable,
    listSlideshow
  },
  created: function() {
    this.getCategory();
    this.getView();
  },
  data: function() {
    return {
      preview: 0,
      select: { name: "", type: "" },
      category: {},
      templates: definitions.section,
      templatesList: definitions.list,
      view: {
        category: "",
        parentId: "",
        sections: []
      },
      edit: {
        content: {
          opened: false,
          section: 0,
          content: 0,
          label: "",
          showLabel: false,
          value: "",
          uniqid: ""
        },
        section: {
          opened: false,
          section: 0,
          name: "",
          uniqid: ""
        },
        list: {
          opened: false,
          select: "",
          schema: []
        }
      }
    };
  },
  methods: {
    editList: function(section, content) {
      this.edit.list.opened = true;
      let data = this.view.sections[section].content[content];
      this.edit.list.schema = data.schema;
    },
    addListSchema: function() {
      this.edit.list.schema = this.edit.list.schema.concat(
        this.edit.list.select
      );
    },
    editContent: function(section, content) {
      let data = this.view.sections[section].content[content];
      this.edit.content = {
        opened: true,
        section: section,
        content: content,
        label: data.label,
        showLabel: data.showLabel === undefined ? false : data.showLabel,
        value: data.value
      };
    },
    deleteContent: function(section, content) {
      let data = this.view.sections[section].content;
      this.view.sections[section].content = data.filter(
        (x, i) => !(i === content)
      );
    },
    saveContent: function() {
      let section = this.edit.content.section;
      let content = this.edit.content.content;
      let data = this.edit.content;
      this.view.sections[section].content[content] = {
        ...this.view.sections[section].content[content],
        label: data.label,
        showLabel: data.showLabel,
        value: data.value
      };
      data.opened = false;
      this.preview++;
    },
    moveContent: function(direction, section, from) {
      let content = this.view.sections[section].content.length;
      let to;
      if (direction === "up") {
        to = from - 1 < 0 ? 0 : from - 1;
      } else if (direction === "down") {
        to = from + 1 > content.length - 1 ? content.length - 1 : from + 1;
      }
      this.view.sections[section].content.move(from, to);
    },
    addContent: function(section, type) {
      let content = {
        ...definitions.element.filter(s => s.type === type)[0],
        uniqid: uniqid()
      };

      this.view.sections[section].content = this.view.sections[
        section
      ].content.concat(content);
    },
    move: function(direction, from) {
      let to;
      if (direction === "up") {
        to = from - 1 < 0 ? 0 : from - 1;
      } else if (direction === "down") {
        to =
          from + 1 > this.view.sections.length - 1
            ? this.view.sections.length - 1
            : from + 1;
      }
      this.view.sections.move(from, to);
    },
    getView: function() {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/view/" + id).then(res => {
        console.log("getView", res.data);
        // self.view = res.data.filter(x => x._id === id)[0];
        if (res.data.length !== 0) {
          self.view = res.data[0];
        }
      });
    },
    getCategory: function() {
      let self = this;
      let id = this.$route.params.id;
      axios.get(process.env.API + "/category/" + id).then(res => {
        self.category = res.data.filter(x => x._id === id)[0];
        self.view.category = self.category.name;
        self.view.parentId = self.category._id;
      });
    },
    editSection: function(section) {
      let data = this.view.sections[section];
      this.edit.section = {
        opened: true,
        section: section,
        name: data.name
      };
    },
    saveSection: function() {
      let section = this.edit.section.section;
      let data = this.edit.section;
      this.view.sections[section] = {
        ...this.view.sections[section],
        name: data.name
      };
      data.opened = false;
      this.preview++;
    },
    addSection: function() {
      let schema = definitions.schema.filter(
        x => x.type === this.select.type
      )[0];

      let construct = {
        name: this.select.name,
        type: this.select.type,
        content: [],
        accept: schema.accept,
        uniqid: uniqid()
      };

      construct.content = schema.default.map((x, i) => {
        let element = definitions.element.filter(s => s.type === x)[0];
        return {
          ...element,
          order: i,
          uniqid: uniqid()
        };
      });

      this.view.sections.push(construct);

      this.select.name = "";
      this.select.type = "";
    },
    deleteSection: function(section) {
      let data = this.view.sections;
      this.view.sections = data.filter((x, i) => !(i === section));
    },
    save: function() {
      let view = this.view;
      view.sections = view.sections.map((x, i) => {
        let content = x.content.map((s, t) => {
          return {
            ...s,
            order: t
          };
        });
        return {
          ...x,
          content: content,
          order: i
        };
      });
      console.log(view);
      axios.post(process.env.API + "/view", view).then(res => {});
    }
  }
};
</script>

<style>
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.small-btn {
  border: 1px solid #d1d1d1;
  padding: 2px;
  border-radius: 2px;
  background: #f1f1f1;
  color: #999;
  margin: 0 5px;
}
</style>
