<template>
  <q-page padding>
    <!-- content -->
    <p @click="goBack()">Back</p>
    <div v-for="(model, modelIn) in allData.models" :key="modelIn">
      <span>{{parseModel(model, 'name')}}</span>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "PageIndex",
  components: {},
  created: function() {
    this.getGames(() => {
      this.getCategories(() => {
        this.getCategory();
        this.getModels();
      });
    });
  },
  data: function() {
    return {
      allData: {
        category: [],
        categories: [],
        games: [],
        models: []
      }
    };
  },
  methods: {
    goBack: function() {
      let game = this.$route.params.game;
      let category = this.$route.params.category;
      let route = "/" + game;
      this.$router.push(route);
    },
    parseModel: function(model, req) {
      let sections = model.sections;
      let section = sections.filter(x => x.type === "name")[0];
      let content = section.content;
      let name = content[0].value;
      return name;
    },
    getCategory: function() {
      let self = this;
      let slug = this.$route.params.category;
      let id = this.allData.categories.filter(x => x.slug === slug)[0]._id;
      axios.get(process.env.API + "/category/" + id).then(res => {
        self.category = res.data.filter(x => x._id === id)[0];
      });
    },
    getModels: function(callback) {
      let self = this;
      let slug = this.$route.params.category;
      let id = this.allData.categories.filter(x => x.slug === slug)[0]._id;
      axios.get(process.env.API + "/model/" + id).then(res => {
        self.allData.models = res.data;
      });
    },
    getCategories: function(callback) {
      let self = this;
      let slug = this.$route.params.game;
      let id = this.allData.games.filter(x => x.slug === slug)[0]._id;
      axios.get(process.env.API + "/category/all/" + id).then(res => {
        self.allData.categories = res.data;
        callback();
      });
    },
    goToCategory(index) {
      let category = this.allData.categories[index];
      let slug = this.$route.params.game;
      this.$router.push("/" + slug + "/" + category.slug);
    },
    getGames: function(callback) {
      let self = this;
      axios.get(process.env.API + "/game").then(res => {
        self.allData.games = res.data;
        callback();
      });
    }
  }
};
</script>

<style>
</style>
