<template>
  <q-page padding>
    <!-- content -->
    <p @click="goBack()">Back</p>
    <div v-for="(category, categoryIn) in allData.categories" :key="categoryIn">
      <span @click="goToCategory(categoryIn)">{{category.name}}</span>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "PageIndex",
  components: {},
  created: function() {
    this.getGames(() => {
      this.getCategories();
    });
  },
  data: function() {
    return {
      allData: {
        categories: [],
        games: []
      }
    };
  },
  methods: {
    goBack: function() {
      let route = "/";
      this.$router.push(route);
    },
    getCategories: function() {
      let self = this;
      let slug = this.$route.params.game;
      let id = this.allData.games.filter(x => x.slug === slug)[0]._id;
      axios.get(process.env.API + "/category/all/" + id).then(res => {
        self.allData.categories = res.data;
        console.log("cat", res.data);
      });
    },
    goToCategory(index) {
      let category = this.allData.categories[index];
      let slug = this.$route.params.game;
      this.$router.push("/" + slug + "/" + category.slug);
    },
    getGames: function(callback) {
      let self = this;
      axios.get(process.env.API + "/game").then(res => {
        console.log("data", res.data);
        self.allData.games = res.data;
        callback();
      });
    }
  }
};
</script>

<style>
</style>
