<template>
  <q-page class="flex flex-center">
    <div class="column">
      <div v-for="(game, gameIn) in allData.games" :key="gameIn">
        <span @click="goToGame(gameIn)">{{game.name}}</span>
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "PageIndex",
  components: {},
  created: function() {
    this.getGames();
  },
  data: function() {
    return {
      allData: {
        categories: [],
        games: []
      }
    };
  },
  methods: {
    getCategories: function(id) {
      let self = this;
      axios.get(process.env.API + "/category/all/" + id).then(res => {
        self.allData.categories = res.data;
      });
    },
    goToGame(index) {
      let game = this.allData.games[index];
      this.$router.push("/" + game.slug);
    },
    getGames: function() {
      let self = this;
      axios.get(process.env.API + "/game").then(res => {
        console.log("data", res.data);
        self.allData.games = res.data;
      });
    }
  }
};
</script>
