<template>
  <q-page padding>
    <!-- content -->
    <p>Category</p>
    <q-input
      v-model="category.name"
      stack-label="Name"
    />
    <q-input
      v-model="category.description"
      stack-label="Description"
    />
    <q-input
      v-model="category.thumbnail"
      stack-label="Thumbnail"
    />
    <q-input
      v-model="category.layout"
      stack-label="Layout"
    />
    <q-btn @click="submitData('category')">Submit</q-btn>

    <div>
      <div
        v-for="(item,index) in allData.category"
        :key="index"
      >
        <p>{{item.name}}</p>
        <p @click="goToSection(index)">Go to Section</p>
        <p @click="goToDatabase(index)">Go to Database</p>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "PageName",
  created: function() {
    this.getData("category");
  },
  data: function() {
    return {
      category: {
        name: "",
        description: "",
        thumbnail: "",
        layout: ""
      },
      allData: {
        category: []
      }
    };
  },
  computed: {},
  methods: {
    goToSection(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push("/admin/section/" + category._id);
    },
    goToDatabase(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push("/admin/database/" + category._id);
    },
    getData: function(collection) {
      let self = this;
      axios.get(process.env.API + "/" + collection).then(res => {
        self.allData[collection] = res.data;
      });
    },
    submitData: function(collection) {
      let self = this;
      axios
        .post(process.env.API + "/" + collection, self[collection])
        .then(res => {
          this.getData("category");
        });
    }
  }
};
</script>

<style>
</style>
