<template>
  <q-page padding>
    <!-- content -->
    <p>Database: {{select}}</p>
    <div class="column">
      <div
        v-for="(item,index) in database.children"
        :key="index"
        class="col q-my-form"
      >
        {{item.type}}
        <div
          v-for="(schema, schemaId) in item.schema"
          :key="schemaId"
        >
          <q-input
            v-model="schema.model"
            :stack-label="schema.type"
          />
        </div>
      </div>
    </div>
    <!-- <q-input
      v-model="database.name"
      stack-label="Name"
    />
    -->
    <q-btn @click="submitData()">Submit</q-btn>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "AdminDatabase",
  created: function() {
    console.log("database");
    this.getData("section");
  },
  data: function() {
    return {
      select: "",
      categories: [],
      database: {
        category: "",
        children: []
      },
      allData: {
        category: [],
        section: {}
      }
    };
  },
  computed: {},
  methods: {
    parseSection: function() {
      let self = this;
      let section = this.allData.section;
      section.children.forEach(x => {
        self.database.children.push({
          type: x.section,
          schema: x.default.map(s => {
            return {
              type: s,
              model: ""
            };
          })
        });
      });
      // console.log(section);
    },
    getData: function(collection) {
      let self = this;
      axios.get(process.env.API + "/" + collection).then(res => {
        console.log(res.data);
        let data = res.data.filter(
          x => x.parentId === self.$route.params.id
        )[0];
        console.log(data);
        self.select = data.category;
        self.allData.section = data;
        self.parseSection();
      });
    },
    submitData: function() {
      let self = this;
      axios
        .post(
          process.env.API + "/database/" + self.$route.params.id,
          self.database
        )
        .then(res => {
          // this.getData("category");
        });
    }
  }
};
</script>

<style>
</style>
