<template>
  <q-page
    padding
    class="row"
  >
    <div class="column col-8">
      <!-- content -->
      <p>Section</p>
      <q-select
        v-model="section.category"
        float-label="Category"
        :options="categories"
      />

      <p>Add Section</p>
      <q-select
        v-model="select"
        float-label="Section"
        :options="templates"
      />
      <q-btn @click="addSection">Add</q-btn>
      <q-btn @click="saveSection">Save</q-btn>

      <div>
        <div
          v-for="(item,index) in section.children"
          :key="index"
          class="column"
        >
          <div class="row">
            <p
              class="p-5"
              @click="move('up',index)"
            >Move Up</p>
            <p
              class="p-5"
              @click="move('down',index)"
            >Move Down</p>
            <p class="p-5">{{item.section}}</p>
          </div>
          <div class="Column">
            <p>Data Type:</p>
            <p
              v-for="(type, index) in item.default"
              :key="index"
            >{{type}}</p>
            <div class="row">
              <p class="p-5">Add Type:</p>
              <p
                v-for="(type, typeIndex) in item.accept"
                :key="typeIndex"
                class="p-5"
                @click="addType(index, type)"
              >{{type}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-4">
      <div
        v-for="(item,index) in section.children"
        :key="index"
      >
        <name
          v-if="item.section === 'name'"
          mode="preview"
          :content="item.default"
        />
        <portrait
          v-if="item.section === 'portrait'"
          mode="preview"
          :content="item.default"
        />
        <description
          v-if="item.section === 'description'"
          mode="preview"
          :content="item.default"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

import definitions from "../../definitions/definitions";

import description from "../../components/description";
import name from "../../components/name";
import portrait from "../../components/portrait";

Array.prototype.move = function(from, to) {
  this.splice(to, 0, this.splice(from, 1)[0]);
};

export default {
  name: "AdminSection",
  created: function() {
    let id = this.$route.params.id;
    console.log(id);
    this.getData("category");
    if (id) {
      this.getData("category", id);
      this.section.parentId = id;
    }
  },
  components: {
    description,
    name,
    portrait
  },
  data: function() {
    return {
      select: "",
      templates: definitions.section,
      categories: [],
      section: {
        category: "",
        parentId: "",
        children: []
      },
      allData: {
        category: []
      }
    };
  },
  computed: {},
  methods: {
    move: function(direction, from) {
      let to;
      if (direction === "up") {
        to = from - 1 < 0 ? 0 : from - 1;
      } else if (direction === "down") {
        to =
          from + 1 > this.section.children.length - 1
            ? this.section.children.length - 1
            : from + 1;
      }
      this.section.children.move(from, to);
    },
    getData: function(collection, id) {
      let self = this;
      let url;
      if (id) {
        url = process.env.API + "/" + collection + "/" + id;
      } else {
        url = process.env.API + "/" + collection;
      }
      axios.get(url).then(res => {
        if (collection === "category" && !id) {
          self.categories = res.data.map(x => {
            return {
              label: x.name,
              value: x.name
            };
          });
        } else if (collection === "category" && id) {
          self.section.category = res.data[0].name;
        }
      });
    },
    addSection: function() {
      if (this.select === "") {
        return;
      }
      let section = definitions.sectionSchema.filter(
        x => x.section === this.select
      );
      this.section.children.push(_.cloneDeep(section[0]));
      this.select === "";
    },
    addType: function(section, type) {
      this.section.children[section].default = this.section.children[
        section
      ].default.concat(type);
    },
    saveSection: function() {
      console.log(this.section);
      axios.post(process.env.API + "/section", this.section).then(res => {
        // this.getData("category");
      });
    },
    submitData: function(collection) {
      // let self = this;
      // axios
      //   .post(process.env.API + "/" + collection, self[collection])
      //   .then(res => {
      //     this.getData("category");
      //   });
    }
  }
};
</script>

<style>
.p-5 {
  padding: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 5px;
}
.mb-15 {
  margin-bottom: 5px;
}
</style>
