<template>
  <q-page class="flex flex-center">
    <div class="column">
      <div v-for="(category, categoryIn) in allData.categories" :key="categoryIn">{{category.name}}</div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "PageIndex",
  components: {},
  created: function() {
    let id = "5c1efe39311264827911c749";
    this.getCategories(id);
  },
  data: function() {
    return {
      allData: {
        categories: []
      }
    };
  },
  methods: {
    getCategories: function(id) {
      let self = this;
      axios.get(process.env.API + "/category/all/" + id).then(res => {
        self.allData.categories = res.data;
      });
    }
  }
};
</script>
