<template>
  <div>
    <div v-for="(item, index) in store" :key="index ">
      <div v-if="item.type === 'text'">
        <span class="text">{{item.value}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    content: Array,
    mode: String
  },
  data() {
    return {};
  },
  computed: {
    store: function() {
      if (this.mode === "preview") {
        let template = [
          {
            type: "text",
            label: "description",
            value:
              'Known as the Firelord, he describes fire as "an all-consuming greed" and demands offerings from humans to sate his appetite. Dignified on the surface, he\'s selfish at heart—though he will always protect those who make offerings to him.',
            order: "0"
          }
        ];

        let sample = [];

        this.content.forEach(x => {
          let get = template.filter(s => s.type === x.type)[0];
          let res = {
            type: x.type !== "" ? x.type : get.type,
            label: x.label !== "" ? x.label : get.label,
            value: x.value !== "" ? x.value : get.value,
            order: x.order !== "" ? x.order : get.order,
            showLabel: x.showLabel !== "" ? x.showLabel : get.showLabel
          };
          sample.push(res);
        });

        return sample;
      }
      return this.content;
    }
  }
};
</script>

<style scoped>
.text {
  font-size: 14px;
}
</style>
