<template>
  <div class="row">
    <p>Attachments</p>
    <q-carousel class="text-white" arrows>
      <q-carousel-slide class="bg-primary">
        <img
          src="https://d1u5p3l4wpay3k.cloudfront.net/dragalialost_gamepedia_en/thumb/4/49/210016_01_portrait.png/400px-210016_01_portrait.png?version=726ace0461f4fcf8dfc32293bc4cc9ea"
          class="img"
        >
        <p>Scope</p>
        <p>Using</p>
      </q-carousel-slide>
      <q-carousel-slide class="bg-secondary">
        <img
          src="https://d1u5p3l4wpay3k.cloudfront.net/dragalialost_gamepedia_en/thumb/4/49/210016_01_portrait.png/400px-210016_01_portrait.png?version=726ace0461f4fcf8dfc32293bc4cc9ea"
          class="img"
        >
        <p>Scope</p>
        <p>Using</p>
      </q-carousel-slide>
      <q-carousel-slide class="bg-tertiary">
        <img
          src="https://d1u5p3l4wpay3k.cloudfront.net/dragalialost_gamepedia_en/thumb/4/49/210016_01_portrait.png/400px-210016_01_portrait.png?version=726ace0461f4fcf8dfc32293bc4cc9ea"
          class="img"
        >
        <p>Scope</p>
        <p>Using</p>
      </q-carousel-slide>
    </q-carousel>
    <!-- <div v-for="(item, index) in store" :key="index ">
      <div v-if="item.type === 'text'" class="row">
        <img
          src="https://d1u5p3l4wpay3k.cloudfront.net/dragalialost_gamepedia_en/thumb/4/49/210016_01_portrait.png/400px-210016_01_portrait.png?version=726ace0461f4fcf8dfc32293bc4cc9ea"
        >
      </div>
    </div>-->
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    mode: String
  },
  data() {
    return {
      content: [
        {
          type: "text",
          label: "HP",
          value: "100",
          order: "0"
        },
        {
          type: "text",
          label: "HP",
          value: "100",
          order: "0"
        }
      ]
    };
  },
  computed: {
    store: function() {
      if (this.mode === "preview") {
        let template = [
          {
            type: "text",
            label: "HP",
            value: "100",
            order: "0"
          }
        ];

        let sample = [];

        this.content.forEach(x => {
          let get = template.filter(s => s.type === x.type)[0];
          let res = {
            type: x.type !== "" ? x.type : get.type,
            label: x.label !== "" ? x.label : get.label,
            value: x.value !== "" ? x.value : get.value,
            order: x.order !== "" ? x.order : get.order,
            showLabel: x.showLabel !== "" ? x.showLabel : get.showLabel
          };
          sample.push(res);
        });

        return sample;
      }
      return this.content;
    }
  }
};
</script>

<style scoped>
.mb-10 {
  margin-bottom: 10px;
}
.label {
  border: 1px solid #c1c1c1;
  background: #c1c1c1;
  color: #fefefe;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.value {
  border: 1px solid #c1c1c1;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
.img {
  width: 100%;
}
</style>
