<template>
  <div class="row justify-between">
    <div v-for="(item, index) in store" :key="index">
      <div v-if="item.type === 'icon'">
        <span class="icon">{{item.value}}</span>
      </div>
      <div v-if="item.type === 'text'">
        <span class="text">{{item.value}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    content: Array,
    mode: String
  },
  data() {
    return {};
  },
  computed: {
    store: function() {
      if (this.mode === "preview") {
        let template = [
          {
            type: "icon",
            label: "Flame",
            value: "Flame",
            order: "0"
          },
          {
            type: "text",
            label: "name",
            value: "Text",
            order: "0"
          }
        ];

        let sample = [];

        this.content.forEach(x => {
          let get = template.filter(s => s.type === x.type)[0];
          let res = {
            type: x.type !== "" ? x.type : get.type,
            label: x.label !== "" ? x.label : get.label,
            value: x.value !== "" ? x.value : get.value,
            order: x.order !== "" ? x.order : get.order,
            showLabel: x.showLabel !== "" ? x.showLabel : get.showLabel
          };
          sample.push(res);
        });

        return sample;
      }
      return this.content;
    }
  }
};
</script>

<style scoped>
.icon {
  font-size: 10px;
}
.text {
  font-weight: 600;
}
</style>
