<template>
  <div>
    <div v-for="(item, index) in store" :key="index ">
      <img :src="item.value" v-if="item.type === 'image'" class="img">
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    content: Array,
    mode: String
  },
  data() {
    return {};
  },
  computed: {
    store: function() {
      if (this.mode === "preview") {
        let template = [
          {
            type: "image",
            label: "portrait",
            value:
              "https://d1u5p3l4wpay3k.cloudfront.net/dragalialost_gamepedia_en/thumb/4/49/210016_01_portrait.png/400px-210016_01_portrait.png?version=726ace0461f4fcf8dfc32293bc4cc9ea",
            order: "0"
          }
        ];

        let sample = [];

        this.content.forEach(x => {
          let get = template.filter(s => s.type === x.type)[0];
          let res = {
            type: x.type !== "" ? x.type : get.type,
            label: x.label !== "" ? x.label : get.label,
            value: x.value !== "" ? x.value : get.value,
            order: x.order !== "" ? x.order : get.order,
            showLabel: x.showLabel !== "" ? x.showLabel : get.showLabel
          };
          sample.push(res);
        });

        return sample;
      }
      return this.content;
    }
  }
};
</script>

<style>
.img{
  width: 100%;
}
</style>
