<template>
  <div class="row content-stretch mb-10">
    <div v-for="(item, index) in store" :key="index" class="table-row">
      <div v-if="item.type === 'text'" class="column mb-10">
        <span class="label">{{item.label}}</span>
        <span class="value">{{item.value}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    content: Array,
    mode: String
  },
  data() {
    return {};
  },
  computed: {
    store: function() {
      if (this.mode === "preview") {
        let template = [
          {
            type: "text",
            label: "HP",
            value: "100",
            order: "0"
          }
        ];

        let sample = [];

        this.content.forEach(x => {
          let get = template.filter(s => s.type === x.type)[0];
          let res = {
            type: x.type !== "" ? x.type : get.type,
            label: x.label !== "" ? x.label : get.label,
            value: x.value !== "" ? x.value : get.value,
            order: x.order !== "" ? x.order : get.order,
            showLabel: x.showLabel !== "" ? x.showLabel : get.showLabel
          };
          sample.push(res);
        });

        return sample;
      }
      return this.content;
    }
  }
};
</script>

<style scoped>
.mb-10 {
  margin-bottom: 10px;
}
.table-row {
  flex: 1;
}
.label {
  border: 1px solid #c1c1c1;
  background: #c1c1c1;
  color: #fefefe;
  padding: 5px;
  text-align: center;
}
.value {
  border: 1px solid #c1c1c1;
  padding: 5px;
  text-align: center;
}
</style>
