<template>
  <q-page padding>
    <!-- content -->
    <h5>Brawl Stars - Brawlers</h5>
    <q-card>
      <q-card-title>Profile</q-card-title>
      <q-card-main>        
        <q-input v-model="model.name" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.rarity" stack-label="Rarity" class="q-my-form"/>
        <q-input v-model="model.portrait" stack-label="Portrait" class="q-my-form"/>
        <q-input v-model="model.avatar" stack-label="Avatar" class="q-my-form"/>
        <q-input v-model="model.description" stack-label="Description" class="q-my-form"/>
        <q-btn @click="submitData('model')" class="q-my-form">Submit</q-btn>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Stats</q-card-title>
      <q-card-main>        
        <q-input v-model="model.mvmtSpeed" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.health" stack-label="Rarity" class="q-my-form"/>        
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Attack</q-card-title>
      <q-card-main>        
        <q-input v-model="model.description" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.range" stack-label="Rarity" class="q-my-form"/>        
        <q-input v-model="model.reload" stack-label="Rarity" class="q-my-form"/>        
        <q-input v-model="model.damage" stack-label="Rarity" class="q-my-form"/>        
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Super</q-card-title>
      <q-card-main>        
        <q-input v-model="model.description" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.range" stack-label="Rarity" class="q-my-form"/>        
        <q-input v-model="model.healing" stack-label="Rarity" class="q-my-form"/>        
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Star Power</q-card-title>
      <q-card-main>        
        <q-input v-model="model.description" stack-label="Name" class="q-my-form"/>        
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Tips</q-card-title>
      <q-card-main>        
        <q-input v-model="model.description" stack-label="Name" class="q-my-form"/>        
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "PageName",
  created: function() {
    this.getCategories();
    this.getGame();
    this.category.game = this.$route.params.game;
  },
  data: function() {
    return {
      test: ["1", "2", "3"],
      model: {
        profile: "String",
        rarity: "String",
        avatar: "String",
        description: "Text"
      },
      category: {
        name: "",
        game: "",
        description: "",
        thumbnail: "",
        layout: ""
      },
      allData: {
        category: [],
        game: {}
      }
    };
  },
  computed: {
    test2: function() {
      let temp = [];
      for (var key in this.model) {
        console.log(key);
        temp.push({
          key: key,
          type: this.model[key]
        });
      }
      console.log(temp);
      return temp;
    }
  },
  methods: {
    goToView(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push(
        "/admin/game/" + category.game + "/view/" + category._id
      );
    },
    goToModel(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push(
        "/admin/game/" + category.game + "/model/" + category._id
      );
    },
    goToModelRead(index) {
      let category = this.allData.category[index];
      console.log(category);
      this.$router.push(
        "/admin/game/" + category.game + "/data/" + category._id
      );
    },
    getCategories: function() {
      let self = this;
      let id = this.$route.params.game;
      axios.get(process.env.API + "/category/all/" + id).then(res => {
        self.allData.category = res.data;
      });
    },
    deleteCategory: function(id) {
      let data = {
        id: id
      };
      axios.post(process.env.API + "/category/delete", data).then(res => {
        console.log("deleted");
        this.getCategories();
      });
    },
    getGame: function() {
      let self = this;
      let id = this.$route.params.game;
      axios.get(process.env.API + "/game/" + id).then(res => {
        console.log(res.data);
        self.allData.game = res.data[0];
      });
    },
    submitData: function(collection) {
      let self = this;
      axios
        .post(process.env.API + "/" + collection, self[collection])
        .then(res => {
          this.getCategories();
        });
    }
  }
};
</script>

<style>
.p-10 {
  padding: 10px;
}
</style>
