<template>
  <q-page padding>
    <!-- content -->
    <h5>Brawl Stars - Brawlers</h5>
    <q-card>
      <q-card-title>Profile</q-card-title>
      <q-card-main>
        <q-input v-model="model.profile.name" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.profile.rarity" stack-label="Rarity" class="q-my-form"/>
        <q-input v-model="model.profile.portrait" stack-label="Portrait" class="q-my-form"/>
        <q-input v-model="model.profile.avatar" stack-label="Avatar" class="q-my-form"/>
        <q-input v-model="model.profile.description" stack-label="Description" class="q-my-form"/>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Stats</q-card-title>
      <q-card-main>
        <q-input v-model="model.stats.movement" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.stats.health" stack-label="Rarity" class="q-my-form"/>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Attack</q-card-title>
      <q-card-main>
        <q-input v-model="model.attack.name" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.attack.description" stack-label="Description" class="q-my-form"/>
        <q-input v-model="model.attack.range" stack-label="Range" class="q-my-form"/>
        <q-input v-model="model.attack.reload" stack-label="Reload" class="q-my-form"/>
        <q-input v-model="model.attack.effect" stack-label="Effect" class="q-my-form"/>

        <div>
          <q-btn>Add Column</q-btn>
          <q-btn>Add Row</q-btn>
        </div>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Super</q-card-title>
      <q-card-main>
        <q-input v-model="model.super.description" stack-label="Name" class="q-my-form"/>
        <q-input v-model="model.super.range" stack-label="Rarity" class="q-my-form"/>
        <q-input v-model="model.super.healing" stack-label="Rarity" class="q-my-form"/>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Star Power</q-card-title>
      <q-card-main>
        <q-input v-model="model.star.description" stack-label="Name" class="q-my-form"/>
      </q-card-main>
    </q-card>
    <q-card>
      <q-card-title>Tips</q-card-title>
      <q-card-main>
        <q-input v-model="model.tips.items" stack-label="Name" class="q-my-form"/>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import axios from "axios";

export default {
  name: "PageName",
  created: function() {    
  },
  data: function() {
    return {
      model: {
        profile: {
          name: "",
          string: "",
          portrait: "",
          avatar: "",
          description: ""
        },
        stats: {
          rarity: "",
          movement: ""
        },
        attack: {
          name: "",
          description: "",
          range: "",
          reload: "",
          effect: []
        },
        super: {
          name: "",
          description: "",
          range: "",
          reload: "",
          effect: []
        },
        star: {
          name: "",
          description: ""
        },
        tips: {
          items: []
        }
      }
    };
  },
  computed: {
    test2: function() {
      let temp = [];
      for (var key in this.model) {
        console.log(key);
        temp.push({
          key: key,
          type: this.model[key]
        });
      }
      console.log(temp);
      return temp;
    }
  },
  methods: {}
};
</script>

<style>
</style>
