<style scoped lang="stylus">
.q-card {
  color: #c9cdd3;
  background-color: #5f6670;
}

.delete-modal {
  margin-bottom: 20px;
  padding: 20px;

  .q-btn {
    margin: 0 5px;
  }
}
</style>

<template>
  <q-page padding class="row">
    <div class="column col-12 col-md-4 q-pa-md">
      <q-card>
        <q-card-title>
          <div class="row items-center justify-between">
            <b @click="collapse = !collapse">Brawlers</b>            
            <q-btn @click="create">Create New</q-btn>
          </div>
        </q-card-title>
      </q-card>
      <q-card v-for="(data, index) in all" :key="index" class="q-my-form" v-show="!collapse">
        <q-card-main>
          <p>
            <b>{{ucfirst(data.profile.name)}}</b>
          </p>
          <q-btn @click="edit(index)" class="q-ma-sm">Edit</q-btn>
          <q-btn @click="remove(index)" class="q-ma-sm" color="negative">Delete</q-btn>
        </q-card-main>
      </q-card>
    </div>
    <!-- Input -->
    <div class="column col-12 col-md-8 q-pa-md">
      <q-card>
        <q-card-title>
          <div class="row items-center justify-end">
            <q-btn @click="submit" color="primary">Submit</q-btn>
          </div>
        </q-card-title>
      </q-card>
      <q-card v-for="(category, catIn) in generateInput()" :key="catIn" class="q-my-form">
        <q-card-title>{{ucfirst(category.label)}}</q-card-title>
        <q-card-main v-for="(item, itemIn) in category.children" :key="itemIn">
          <q-input
            v-if="item.type === 'String' || item.type === 'Number'"
            v-model="model[category.label][item.label]"
            :stack-label="ucfirst(item.label)"
            class="q-my-form"
          />
          <div v-if="item.type === 'Image'">
            <p>
              <b>{{ucfirst(item.label)}}</b>
            </p>
            <q-btn @click="uploadPicture(category.label, item.label)">Upload Image</q-btn>
            <img
              :src="model[category.label][item.label]"
              v-if="model[category.label][item.label].length !== 0"
            >
          </div>
          <q-input
            v-if="item.type === 'Text'"
            v-model="model[category.label][item.label]"
            :stack-label="ucfirst(item.label)"
            class="q-my-form"
            type="textarea"
            rows="5"
          />
          <div v-if="item.type === 'Items'">
            <p>
              <b>{{ucfirst(item.label)}}</b>
            </p>
            <q-btn @click="addItem(category.label, item.label)">Add Item</q-btn>
            <div v-for="(row, index) in model[category.label][item.label]" :key="index">
              <q-input v-model="row[0]" type="textarea" stack-label="Values" class="q-my-form"/>
              <q-btn @click="deleteItem(category.label, item.label, index)" color="negative">
                <q-icon name="cancel"/>
              </q-btn>
            </div>
          </div>

          <div v-if="item.type === 'Stats'">
            <p>
              <b>{{ucfirst(item.label)}}</b>
            </p>
            <q-btn @click="addStats(category.label, item.label)">Add Stats</q-btn>
            <div v-for="(row, index) in model[category.label][item.label]" :key="index" class="row">
              <q-input v-model="row[0]" stack-label="Label" class="q-my-form"/>
              <q-input v-model="row[1]" stack-label="Values" class="q-my-form"/>
              <div class="column justify-center">
                <q-btn @click="deleteStats(category.label, item.label, index)" color="negative">
                  <q-icon name="cancel"/>
                </q-btn>
              </div>
            </div>
          </div>

          <div v-if="item.type === 'Table'">
            <p>
              <b>{{ucfirst(item.label)}}</b>
            </p>
            <q-btn @click="addColumn(category.label, item.label)">Add Column</q-btn>
            <q-btn @click="deleteColumn(category.label, item.label)">Delete Column</q-btn>
            <q-btn @click="addRow(category.label, item.label)">Add Row</q-btn>

            <div v-for="(row, index) in model[category.label][item.label]" :key="index" class="row">
              <q-input
                v-for="(col, colIn) in row"
                :key="colIn"
                v-model="row[colIn]"
                :stack-label="index === 0 ? 'Header' : 'Values'"
                class="q-my-form"
              />
              <div class="column justify-center">
                <q-btn @click="deleteRow(category.label, item.label, index)" color="negative">
                  <q-icon name="cancel"/>
                </q-btn>
              </div>
            </div>
          </div>
        </q-card-main>
      </q-card>
      <q-card>
        <q-card-title>
          <div class="row items-center justify-end">
            <q-btn @click="submit" color="primary">Submit</q-btn>
          </div>
        </q-card-title>
      </q-card>
    </div>

    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event, upload.category, upload.item)"
        name="avatar"
        class="create--load"
      >
    </form>

    <q-modal v-model="modal.opened">
      <div class="column items-center delete-modal">
        <h5>Are you sure to delete?</h5>
        <div class="row">
          <q-btn color="secondary" @click="opened = false" label="No, Don't Delete"/>
          <q-btn color @click="remove(modal.toDelete,true)" label="Yes, Delete"/>
        </div>
      </div>
    </q-modal>
  </q-page>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "Admin",
  created: function() {
    this.generateInput();
    this.generateModel();
    this.getAll();
  },
  data: function() {
    return {
      schema: {
        profile: {
          name: "String",
          rarity: "String",
          portrait: "Image",
          avatar: "Image",
          description: "Text"
        },
        stats: {
          movement: "Number",
          health: "Table"
        },
        attack: {
          name: "String",
          effect: "Text",
          description: "Text",
          stats: "Stats",
          damage: "Table"
        },
        super: {
          name: "String",
          effect: "Text",
          description: "Text",
          stats: "Stats",
          damage: "Table"
        },
        star: {
          name: "String",
          effect: "Text",
          description: "Text"
        },
        tips: {
          items: "Items"
        }
      },
      model: {},
      all: [],
      upload: { category: "", item: "" },
      modal: {
        opened: false
      },
      collapse: false
    };
  },
  computed: {},
  methods: {
    uploadPicture(category, item) {
      this.upload.category = category;
      this.upload.item = item;
      this.$refs.uploadPicture.click();
    },
    onFileChanged(event, category, item) {
      let file = event.target.files[0];
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        //Loading
        // if (type === "skills") {
        //   this.skills[index].picture = "/assets/create/loading.png";
        // } else if (type === "profile") {
        //   this.profile.picture = "/assets/create/loading.png";
        // }

        //Upload
        const formData = new FormData();
        formData.append("avatar", file, file.name);
        axios
          .post(process.env.API + "/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(res => {
            console.log(res.data.link);
            this.model[category][item] = res.data.link;
          });
      }
    },
    ucfirst: function(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    generateInput: function() {
      let schema = [];
      for (var category in this.schema) {
        let children = [];
        for (var item in this.schema[category]) {
          children.push({
            label: item,
            type: this.schema[category][item]
          });
        }

        schema.push({
          label: category,
          children: children
        });
      }
      return schema;
    },
    generateModel: function() {
      this.model = _.cloneDeep(this.schema);
      for (var category in this.model) {
        for (var item in this.model[category]) {
          if (
            this.model[category][item] === "String" ||
            this.model[category][item] === "Number" ||
            this.model[category][item] === "Text" ||
            this.model[category][item] === "Image"
          ) {
            this.model[category][item] = "";
          }
          if (
            this.model[category][item] === "Items" ||
            this.model[category][item] === "Stats" ||
            this.model[category][item] === "Table"
          ) {
            this.model[category][item] = [];
          }
        }
      }
    },
    addItem: function(category, item) {
      this.model[category][item].push([""]);
    },
    deleteItem: function(category, item, index) {
      this.model[category][item] = this.model[category][item].filter(
        (x, i) => i !== index
      );
    },
    addStats: function(category, item) {
      this.model[category][item].push(["", ""]);
    },
    deleteStats: function(category, item, index) {
      this.model[category][item] = this.model[category][item].filter(
        (x, i) => i !== index
      );
    },
    addColumn: function(category, item) {
      if (this.model[category][item].length === 0) {
        this.model[category][item].push([""]);
        return;
      }
      this.model[category][item].forEach(x => x.push(""));
    },
    deleteColumn: function(category, item) {
      if (
        this.model[category][item].length !== 0 &&
        this.model[category][item][0].length !== 0
      ) {
        this.model[category][item].forEach(x => x.pop(""));
        return;
      }
    },
    addRow: function(category, item) {
      if (this.model[category][item].length !== 0) {
        let count = this.model[category][item][0].length;
        let temp = [];
        for (let i = 0; i < count; i++) {
          temp.push("");
        }
        this.model[category][item].push(temp);
        return;
      }
      this.model[category][item].push([""]);
    },
    deleteRow: function(category, item, index) {
      this.model[category][item] = this.model[category][item].filter(
        (x, i) => i !== index
      );
    },
    create: function() {
      this.generateModel();
    },
    edit: function(index) {
      this.model = _.cloneDeep(this.all[index]);
    },
    remove: function(index, lock = false) {
      let self = this;
      if (lock === false) {
        this.modal.opened = true;
        this.modal.toDelete = index;
        return;
      }

      axios
        .post(process.env.API + "/brawlstars/brawlers/delete", this.all[index])
        .then(res => {
          self.getAll();
          self.generateModel();
          self.modal.opened = false;
          self.modal.toDelete = "";
        });
    },
    getAll: function() {
      let self = this;
      axios.get(process.env.API + "/brawlstars/brawlers/all").then(res => {
        console.log(res.data);
        self.all = res.data;
      });
    },
    submit: function() {
      let self = this;
      axios
        .post(process.env.API + "/brawlstars/brawlers/add", this.model)
        .then(res => {
          self.getAll();
          self.$q.notify({
            message: "Data successfully submitted",
            type: "positive",
            position: "top"
          });
        });
    }
  }
};
</script>
