<template>
  <q-layout>
    <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
        />
        <q-toolbar-title>
          Header
          <span slot="subtitle">Subtile</span>
        </q-toolbar-title>
      </q-toolbar>
      <q-tabs>
        <q-route-tab
          slot="title"
          icon="map"
          to="/admin"
          replace
          label="All Games"
        />
        <q-route-tab
          slot="title"
          icon="assignment"
          :to="'/admin/game/'+this.$route.params.game"
          replace
          label="Categories"
          v-if="this.$route.params.game"
        />
        <!-- <q-route-tab slot="title" icon="assignment" to="/admin/section" replace label="Section" />
        <q-route-tab slot="title" icon="assignment" to="/admin/database" replace label="Database" /> -->
      </q-tabs>
    </q-layout-header>

    <!-- (Optional) The Footer -->
    <!-- <q-layout-footer>
      <q-toolbar>
        <q-btn flat round dense icon="menu" @click="leftDrawer = !leftDrawer" />
        <q-toolbar-title>
          Footer
          <span slot="subtitle">Subtile</span>
        </q-toolbar-title>
      </q-toolbar>
      <q-tabs>
        <q-route-tab slot="title" icon="map" to="/your/route" replace label="One Tab" />
        <q-route-tab slot="title" icon="assignment" to="/some/other/route" replace label="Other Tab" />
      </q-tabs>
    </q-layout-footer> -->

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-layout-drawer
      side="left"
      v-model="leftDrawer"
    >
      <q-scroll-area class="fit q-pa-sm">
      </q-scroll-area>
    </q-layout-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  name: "Admin",
  data() {
    return {
      leftDrawer: false
    };
  }
};
</script>

<style>
</style>
