<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu"/>
        </q-btn>

        <q-toolbar-title class="text-center">MobGuide</q-toolbar-title>

        <q-btn flat dense round @click="$router.push('/')" aria-label="Home">
          <q-icon name="home"/>
        </q-btn>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list no-border link inset-delimiter>
        <q-list-header>Navigation</q-list-header>
        <q-item @click.native="$router.push('/')">
          <q-item-side icon="home"/>
          <q-item-main label="Brawlers" sublabel="View brawlers guide"/>
        </q-item>
        <q-item @click.native="$router.push('/events')">
          <q-item-side icon="home"/>
          <q-item-main label="Events" sublabel="View events guide"/>
        </q-item>
        <q-item @click.native="$router.push('/admin/brawlstars')">
          <q-item-side icon="code"/>
          <q-item-main label="Add Brawlers" sublabel="Dashboard to add brawlers"/>
        </q-item>
        <q-item @click.native="$router.push('/admin/brawlstars/events')">
          <q-item-side icon="code"/>
          <q-item-main label="Add Events" sublabel="Dashboard to add events"/>
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: true
    };
  },
  methods: {
    openURL
  }
};
</script>

<style>
</style>
